body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  display: block;
}

.list-no-stule {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.invisible-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0);
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    z-index: 1;
  }
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobail-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobail-button:hover, .mobail-button:focus {
  fill: #2196f3;
}

.mobail-button.close {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 767px) {
  .mobail-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobail-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 48px 40px;
    background-color: #ffffff;
    display: none;
  }
  .mobail-nav.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobail-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-item {
  margin-bottom: 32px;
}

.nav-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .nav-item {
    margin-bottom: 0;
    position: relative;
  }
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-item::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item .underscore::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.mobail-address .mobail-list {
  margin-top: 100px;
  margin-bottom: 64px;
}

.mobail-address .mobail-list li:not(:last-child) {
  margin-bottom: 32px;
}

.mobail-address .mobail-list .mobail-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobail-address .mobail-list .mobail-tel:focus, .mobail-address .mobail-list .mobail-tel:hover {
  opacity: 0.3;
}

.mobail-address .mobail-list .mobail-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobail-address .mobail-list .mobail-mail:focus, .mobail-address .mobail-list .mobail-mail:hover {
  opacity: 0.3;
}

.mobail-address .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobail-address .social li:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobail-address .social a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .mobail-address {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .address-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.address-item {
  margin-bottom: 10px;
}

.address-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .address-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .address-item:not(:last-child) {
    margin-right: 50px;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address svg {
  margin-right: 8px;
}

.address:hover, .address:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .address {
    font-size: 14px;
    line-height: 1.14;
  }
  .address svg {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .color-atelier {
    color: #2196f3;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-dark {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.logo-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.logo-footer {
  margin-bottom: 20px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-container {
  display: inline-block;
  text-align: center;
  width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    width: 696px;
  }
}

.hero-text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button-promo {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hero {
    width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero/hero-mobail.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/hero-mobail.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero/hero-mobail@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/hero-mobail@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero/hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/hero.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero/hero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/hero@2x.jpg");
  }
}

.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantage-card {
    width: 450px;
    margin-bottom: 30px;
  }
  .advantage-card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantage-card {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-card {
    width: 270px;
  }
}

.advantage-icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.key-slogan {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .key-slogan {
    text-align: center;
  }
}

.text {
  margin: 0;
  font-weight: bold;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.we-do {
  display: none;
  padding-bottom: 94px;
}

.we-do-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.we-do ul {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .we-do {
    display: block;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .photo:not(:last-child) {
  margin-right: 30px;
}

.photo-cards {
  position: relative;
}

.inscription {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.inscription p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .our-team {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.card-master {
  width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-master img {
  width: 450px;
  height: 460px;
}

@media screen and (max-width: 768px) {
  .card-master {
    margin-bottom: 30px;
  }
  .card-master:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .card-master {
    width: 354px;
    margin: 15px;
  }
  .card-master img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .card-master {
    width: 270px;
  }
  .card-master img {
    width: 270px;
    height: 260px;
  }
}

.about-master {
  padding-top: 30px;
  padding-left: 122px;
  padding-right: 122px;
  padding-bottom: 24px;
}

.about-master .name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about-master .profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-master ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .about-master {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .about-master {
    padding: 30px 30px;
  }
}

.networks {
  width: 44px;
  height: 44px;
}

.networks svg {
  width: 20px;
  height: 20px;
}

.networks a {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks a:hover, .networks a:focus {
  background-color: #2196f3;
  fill: white;
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.regular-customers h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .regular-customers h3 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.regular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.logot-client {
  width: 210px;
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .logot-client {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .logot-client {
    width: 170px;
  }
}

.icon-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers:hover, .icon-customers:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    text-align: start;
  }
}

.footer-information {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-information {
    margin-right: 165px;
    margin-left: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-information {
    margin-right: 70px;
    margin-left: auto;
  }
}

address {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.lower-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lower-address:hover, .lower-address:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .social-network {
    margin-bottom: 60px;
  }
}

.join-us {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.joining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.references {
  margin-right: 10px;
}

.references svg {
  width: 20px;
  height: 20px;
}

.references:last-child {
  margin-right: 0;
}

.references a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    margin-right: 0;
    width: 570px;
  }
}

.subscribe-text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1199px) {
  .mailing-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
  }
}

.mailing-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  width: 200px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-submit::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../../img/icon/icon-mailing-submit.svg);
  margin-left: 10px;
}

.mailing-submit:hover, .mailing-submit:focus {
  opacity: 0.8;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .mailing-submit {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .information .cards:nth-child(3n) {
    margin-right: 0;
  }
  .information .cards:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cards a:hover,
.cards a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .cards {
    margin-bottom: 30px;
  }
  .cards:last-child {
    margin-bottom: 0;
  }
  .cards a {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    width: 354px;
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .cards:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    width: 370px;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.product {
  position: relative;
  overflow: hidden;
}

.product:hover .pop-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.information-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.cards-box {
  padding: 20px 24px;
}

.overlay-text {
  margin: 0;
  width: 402px;
  height: 168px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .overlay-text {
    width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-text {
    width: 322px;
  }
}

.pop-up {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards a:focus .pop-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .button-item {
    margin-bottom: 15px;
  }
  .button-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.linc-button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linc-button:hover, .linc-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (max-width: 1199px) {
  .backdrop {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 480px) {
  .backdrop {
    padding: 93px 15px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
    overflow-y: scroll;
  }
}

.modal {
  position: relative;
  min-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.modal h3 {
  margin: 0;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal svg {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.button-modal:hover, .button-modal:focus {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: start;
}

.input-wrapper {
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
  display: block;
}

.input-wrapper svg {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input {
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus-within {
  outline: 0;
  border: 1px solid #2196f3;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-label:focus-within svg {
  fill: #2196f3;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus-within {
  outline: 0;
  border: 1px solid #2196f3;
}

.form-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form-label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.lable-linc {
  color: #2196f3;
  text-decoration: underline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-left: 4px;
}

@media screen and (min-width: 1200px) {
  .lable-linc {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  opacity: 0;
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:focus + .icon-checkbox {
  background-color: #2196f3;
  background-image: url("../img/icon/check-icon.svg");
  background-repeat: no-repeat;
  border-color: transparent;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  background-image: url("../img/icon/check-icon.svg");
  background-repeat: no-repeat;
  border-color: transparent;
}

.form-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 56px;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  opacity: 0.8;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */