.logo {
  display: flex;
  align-items: center;
  font-family: $logo-text;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $logo-color;

  &-dark {
    color: $logo-color-dark;
  }

  &-white {
    color: $logo-color-white;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
