$main-text: 'Roboto', sans-serif;
$logo-text: 'Raleway', sans-serif;
$body-collor: #ffffff;
$link-color: #2196f3;
$main-color: #212121;
$text-color: #757575;
$logo-color: #2196f3;
$logo-color-dark: #000000;
$logo-color-white: #ffffff;
